<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS http get JSON</title>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            var app = angular.module('BookApp', []);
            app.controller('BooksCtrl', function BooksCtrl($scope, $http) {
                //The scope is the binding part between the HTML (view) and the JavaScript (controller).
                //The scope is available for both the view and the controller.
                $scope.search = "Harry Potter";
                $scope.mySearch = function () {
                    //$http makes an HTTP GET request to google webserver,
                    $http.get("https://www.googleapis.com/books/v1/volumes?q=" + $scope.search).then(function (response) {
                        //AngularJS detected the JSON response and parsed it for us into the data property of the response object
                        //need to use data after the response
                        $scope.books = response.data.items;
                    }); //end get
                }; //end mySearch function

                $scope.deleteBook = function (idx) {
                    $scope.books.splice(idx, 1);
                };//end delete

                $scope.currentBook = {};
                $scope.myindex;
                $scope.editBook = function (idx, mybook) {
                    $scope.myindex = idx;
                    $scope.currentBook = mybook;
                    //$scope.title=$scope.books[idx].volumeInfo.title;
                };//end edit
                $scope.updateBook = function (mybook) {
                    $scope.myindex;
                    //$scope.currentBook=mybook;
                    $scope.books[$scope.myindex] = mybook
                };//end edit*/
                $scope.addBook = function () {
                    $scope.contacts.push({type: 'email', value: 'yourname@example.org'});
                };




            }); //end app.controller
        </script>
    </head>
    <body>
        <div class="container">            
            <div ng-app="BookApp" ng-controller="BooksCtrl"> 
                <input type="text" ng-model="search">                
                <button ng-click="mySearch()" class="glyphicon glyphicon-search btn btn-default"></button>
                <ul>
                    <!--måste vara enkla citat tecken också med i ng-include-->
                    <!--<li ng-repeat="book in books" ng-include="'templates/booklinkinfo.html'">-->
                    <li ng-repeat="book in books">
                        {{$index}}
                        {{book.volumeInfo.title}}
                        <a href="{{book.volumeInfo.previewLink}}" target="_blank">Läs mer</a>
                        <button ng-click="deleteBook($index)" class="btn-primary">Ta bort</a>
                            <button ng-click="editBook($index, book)" class="btn-primary">Editera</a>
                     </li>                   
                </ul>
                <input type="text"  ng-model="currentBook.volumeInfo.title" value="{{currentBook.volumeInfo.title}}" size="35">
                <button ng-click="addBook()" class="btn-primary">Add book</a>
            </div>
        </div> 
    </body>
</html>
